#footer {
  /* position: absolute; */
  /* height: 100px; */
}

.footer-flex {
  display: flex;
  /* font-family: 'Space Grotesk', sans-serif; */
  font-family: Georgia, serif;
  color: #395B4A;
}

#footer-info {
  width: 40%;
  border-right: 1px white solid;
  text-align: center;
}

.footer-col {
  padding: 20px;
}

.footer-col-right {
  line-height: 200%;
}
#website-links span {
  text-decoration: underline;
}

@media all and (max-width: 980px) {
  #footer {
    height: 100px;
    /* font-size: 24px; */
  }

}
