#header {
  /* position: absolute;
  width: 100%;
  z-index: 100; */
  background-color: rgba(51, 170, 51, .1);
  height: 120px;
}

#nav-container {
  float: right;
}

#logo-container {
  display: inline-block
}
#logo {
  /* display: inline; */
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 170px;
  margin-left: 20px;
}

#logo img {
  width: 100px;
  margin-top: -15px;

}

#logo-text {
  margin-top: -30px;
  display: block;
  letter-spacing: 1px;
}

#packwood-rv {
  font-size: 25px;
}

#navbar {
  padding-top: 50px;
  margin-right: 40px;

  /* font-family: courgette; */
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 2px;
}

#navbar li {
  display: inline;
  margin-right: 20px;
  padding: 10px;
}

#navbar a {
  text-decoration: none;
  color: white;
}

.selected {
  border: 1px solid white;
  border-radius: 3px;
}

@media screen and (max-width: 853px) {
  #navbar {
    font-size: 15px;
  }
}

@media screen and (max-width: 890px) {
  #navbar li {
    margin-right: 15px;
  }
}

/* @media screen and (max-width: 680px) { */
@media screen and (max-width: 766px) {
  #header {
    height: 160px;
  }
  #logo-container {
    /* margin: 0 auto; */
    text-align: center;
    display: block;
  }

  #logo img {
    width: 80px;
  }

  #packwood-rv {
  font-size: 20px;
  }

  #nav-container {
    float: none;
    text-align: center;
    /* display: table; */
    padding: 5px;
  }

  #navbar {
    margin-right: 0;
    font-size: 15px;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    line-height: 1.6;
    /* line-height: 2; */
  }

  #navbar li {
    padding: 5px;
  }
}