.slider-image-container:not(:first-child) {
  display: none;
}

#slider-img {
  width: 100%;
  height: calc(100vh - 120px);
  float: left;
  object-fit: cover;
}
.pos-top {
  object-position: top;
}

.pos-bot {
  object-position: bottom;
}

#slider {
  position: relative;
  overflow: auto;
}

#slider-left-btn {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 15%;
}

#slider-right-btn {
  cursor: pointer;
  position: absolute;
  height: 100%;
  right: 0;
  width: 15%;
}

#slider-left-btn img {
  position: absolute;
  width: 36px;
  top: calc(50% - 18px); /* 50% - width */
  left: 50%;
}

#slider-right-btn img {
  position: absolute;
  width: 36px;
  top: calc(50% - 18px);
  right: 50%;
}

#reservations-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 10px;
  border: 3px solid white;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255,255,255,.2);

  filter: drop-shadow(16px 16px 10px black);
}

#reservations-btn:hover {
  background-color: rgba(255,255,255,.3);
}

.fade { 
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 1.5s; 
  animation-name: fade-image; 
  animation-duration: 1.5s; 
} 
  
@-webkit-keyframes fade-image { 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image { 
  from {opacity: .4}  
  to {opacity: 1} 
} 

@media screen and (max-width: 680px) {
  #slider-img {
    height: calc(100vh - 160px);
  }
}
@media (hover: hover) and (pointer: fine) {
  #slider-left-btn:hover {
    background-color: rgba(0,0,0,0.2);
  }
  
  #slider-right-btn:hover {
    background-color: rgba(0,0,0,0.2);
  }
}
